<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>directorys</key>
		<array>
			<dict>
				<key>nickname</key>
				<string>我的电脑</string>
				<key>imageName</key>
				<string>conversation_PC_avatar</string>
				<key>signature</key>
				<string>无需数据线,手机轻松传文件到电...</string>
				<key>network</key>
				<string></string>
				<key>isOnLine</key>
				<string>[离线]</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>发现新设备</string>
				<key>imageName</key>
				<string>device_search</string>
				<key>signature</key>
				<string>搜索附近的设备,用QQ轻松连接设备.</string>
				<key>network</key>
				<string></string>
				<key>isOnLine</key>
				<string></string>
			</dict>
		</array>
		<key>groupName</key>
		<string>我的设备</string>
		<key>opened</key>
		<false/>
	</dict>
	<dict>
		<key>directorys</key>
		<array/>
		<key>groupName</key>
		<string>手机通讯录</string>
		<key>opened</key>
		<false/>
	</dict>
	<dict>
		<key>directorys</key>
		<array>
			<dict>
				<key>nickname</key>
				<string>马化腾</string>
				<key>imageName</key>
				<string>contacter_0</string>
				<key>signature</key>
				<string>无动态</string>
				<key>network</key>
				<string>4G</string>
				<key>isOnLine</key>
				<string>[在线]</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>马云</string>
				<key>imageName</key>
				<string>contacter_1</string>
				<key>signature</key>
				<string>无动态</string>
				<key>network</key>
				<string>4G</string>
				<key>isOnLine</key>
				<string>[在线]</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>李彦宏</string>
				<key>imageName</key>
				<string>contacter_2</string>
				<key>signature</key>
				<string>无动态</string>
				<key>network</key>
				<string>4G</string>
				<key>isOnLine</key>
				<string>[在线]</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>QQ好友</string>
		<key>opened</key>
		<false/>
	</dict>
	<dict>
		<key>directorys</key>
		<array>
			<dict>
				<key>nickname</key>
				<string>贝尔纳多·普罗文扎诺</string>
				<key>imageName</key>
				<string>contacter_3</string>
				<key>signature</key>
				<string>无动态</string>
				<key>network</key>
				<string>4G</string>
				<key>isOnLine</key>
				<string>[在线]</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>普京</string>
				<key>imageName</key>
				<string>contacter_4</string>
				<key>signature</key>
				<string>无动态</string>
				<key>network</key>
				<string>4G</string>
				<key>isOnLine</key>
				<string>[在线]</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>默克尔</string>
				<key>imageName</key>
				<string>contacter_5</string>
				<key>signature</key>
				<string>无动态</string>
				<key>network</key>
				<string>4G</string>
				<key>isOnLine</key>
				<string>[在线]</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>朋友</string>
		<key>opened</key>
		<false/>
	</dict>
	<dict>
		<key>directorys</key>
		<array>
			<dict>
				<key>nickname</key>
				<string>金正恩</string>
				<key>imageName</key>
				<string>contacter_6</string>
				<key>signature</key>
				<string>无动态</string>
				<key>network</key>
				<string>4G</string>
				<key>isOnLine</key>
				<string>[在线]</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>奥巴马</string>
				<key>imageName</key>
				<string>contacter_7</string>
				<key>signature</key>
				<string>无动态</string>
				<key>network</key>
				<string>4G</string>
				<key>isOnLine</key>
				<string>[在线]</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>潘基文</string>
				<key>imageName</key>
				<string>contacter_8</string>
				<key>signature</key>
				<string>无动态</string>
				<key>network</key>
				<string>4G</string>
				<key>isOnLine</key>
				<string>[在线]</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>小弟</string>
		<key>opened</key>
		<false/>
	</dict>
	<dict>
		<key>directorys</key>
		<array>
			<dict>
				<key>nickname</key>
				<string>习近平</string>
				<key>imageName</key>
				<string>contacter_9</string>
				<key>signature</key>
				<string>无动态</string>
				<key>network</key>
				<string>4G</string>
				<key>isOnLine</key>
				<string>[在线]</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>乔布斯</string>
				<key>imageName</key>
				<string>contacter_10</string>
				<key>signature</key>
				<string>无动态</string>
				<key>network</key>
				<string>4G</string>
				<key>isOnLine</key>
				<string>[在线]</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>比尔·盖茨</string>
				<key>imageName</key>
				<string>contacter_11</string>
				<key>signature</key>
				<string>无动态</string>
				<key>network</key>
				<string>4G</string>
				<key>isOnLine</key>
				<string>[在线]</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>同学</string>
		<key>opened</key>
		<false/>
	</dict>
	<dict>
		<key>directorys</key>
		<array>
			<dict>
				<key>nickname</key>
				<string>贝爷</string>
				<key>imageName</key>
				<string>contacter_12</string>
				<key>signature</key>
				<string>无动态</string>
				<key>network</key>
				<string>4G</string>
				<key>isOnLine</key>
				<string>[在线]</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>杨幂</string>
				<key>imageName</key>
				<string>contacter_13</string>
				<key>signature</key>
				<string>无动态</string>
				<key>network</key>
				<string>4G</string>
				<key>isOnLine</key>
				<string>[在线]</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>高圆圆</string>
				<key>imageName</key>
				<string>contacter_14</string>
				<key>signature</key>
				<string>无动态</string>
				<key>network</key>
				<string>4G</string>
				<key>isOnLine</key>
				<string>[在线]</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>驴友</string>
		<key>opened</key>
		<false/>
	</dict>
	<dict>
		<key>directorys</key>
		<array>
			<dict>
				<key>nickname</key>
				<string>波老师</string>
				<key>imageName</key>
				<string>contacter_15</string>
				<key>signature</key>
				<string>无动态</string>
				<key>network</key>
				<string>4G</string>
				<key>isOnLine</key>
				<string>[在线]</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>苍老师</string>
				<key>imageName</key>
				<string>contacter_16</string>
				<key>signature</key>
				<string>无动态</string>
				<key>network</key>
				<string>4G</string>
				<key>isOnLine</key>
				<string>[在线]</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>小川老师</string>
				<key>imageName</key>
				<string>contacter_17</string>
				<key>signature</key>
				<string>无动态</string>
				<key>network</key>
				<string>4G</string>
				<key>isOnLine</key>
				<string>[在线]</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>老师~</string>
		<key>opened</key>
		<false/>
	</dict>
</array>
</plist>
